.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(156, 157, 238, 0.753);
}

.navContainer {
    margin-bottom: 10px;
    width: 20vw;
    height: 95vh;
    background-image: linear-gradie render={()=>{ <h1>this is props.match.url</h1>}}
    render={()=>{ <h1>this is props.match.url</h1>}}
    list-style-type: none; render={()=>{ <h1>this is props.match.url</h1>}}
    render={()=>{ <h1>this is props.match.url</h1>}}
    background-color: yellow;   
    
}
.listItem {
    width: 150px;
    height: 50px;
    margin-left: 20px;
    background: linear-gradient(to top right, white,coral);
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: lightblue;
    font-size: large;
    font-weight: bolder;
    border-left: blue solid 5px;
    border-right: blue solid 5px;
    border-radius: 10px;
    color: cornflowerblue;


}