*{
    font-family: 'Roboto', Courier, monospace;
}

.itemContainer {
    border-bottom: black dotted 1px;
    margin : 5px;
;
}
.id{
    width: 30px !important;
}
.checkbox{
    width: 40px;
}
.delete{
    position: absolute;
    right: 0px;
    background-color: lightcoral;
}
.task {
    text-align: center;
    width: 100%;
    margin: 5px;
    padding: 5px;
    background-color: #c4b0b098;
}
.completed {
    text-decoration: line-through;
    background-color: lightgreen;
}

span {
    width:150px;
    display: inline-block;
}