.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    background: white;
    width: 450px;
    padding: 10px;
    border: thin blanchedalmond solid;
    border-radius: 10px;
}
div {
    padding-left: 5px;    
}
span {
    margin-left: 10px;
    width: 250px;
    display: block;
    font-size: small;
}
button {
    width: 200px;
}